
* {
  	
  	
}
body{
	background-color: #16143B;
	background-repeat:no-repeat;
	background-position: center top;
	text-align: center;
}

.page-header{
	background-color: #16143B;
	align-items: center;
	border-color: blue;
	color: white;
	font-weight: bold;
	text-align: center;
	box-sizing: border-box;
}
input{
	text-align: left;
}